<div class="container">
  <div class="listing-title-container">
    <h1>My Listings (<%= @listings.length %>)</h1>
    <div class="add-btn"><%= link_to "+ add listing", new_boat_path%>
    </div>
  </div>
  <% @listings.each do |listing| %>
    <div class="listing-card">
        <%= link_to listing do %>
          <div class="listing-image">
            <%= cl_image_tag listing.photos.last.key %>
          </div>
          <div class="listing-card-content">
            <div class="text">
              <h2><small><%= listing.name %></small></h2>
              <p><%= truncate(listing.description, length: 300) %></p>
            </div>
            <div class="listing-card-actions">
              <a href="<%= edit_boat_path(listing) %>" class="edit-icon"><i class="fa-solid fa-pen-to-square"></i></a>
              <a href="<%=listing_path(listing)%>" data-turbo-method="delete" data-turbo-confirm="Are you sure?" class="delete-icon"><i class="fa-solid fa-trash"></i></a>
            </div>
            <% end %>
          </div>
      </div>
    <% end %>
  </div>
