<div class="container">
  <h1>My Listings</h1>
  <div class="listings">
    <div style="text-align: center; margin-bottom: 20px;"><%= link_to "+ add listing", new_boat_path, class: "add-button"%></div>
    <% @listings.each do |listing| %>
      <div class="listing-card">
        <%= link_to listing do %>
          <img src="https://cdn.boatinternational.com/convert/files/2021/08/205638c0-f3af-11eb-90e4-c9a223ff72d4-Somnio-hero.jpg/r%5Bwidth%5D=1920/205638c0-f3af-11eb-90e4-c9a223ff72d4-Somnio-hero.jpg">
          <div class="listing-card-content">
            <h2><small><%= listing.name %></small></h2>
            <% end %>
            <p><%= listing.description %></p>
          </div>
          <div class="listing-card-actions">
            <%= link_to "Edit", listings_path %> <!-- change -->
            <%= link_to "Delete", listing_path(listing), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          </div>
        </div>
    <% end %>
  </div>
</div>
