<div class="container">
  <div class="booking-title-container">
    <h1>My Received Bookings (<%= @received_bookings.length %>)</h1>
  </div>
  <% @received_bookings.each do |booking| %>
    <div class="booking-card">
        <%= link_to booking do %>
          <div class="booking-image">
            <%= cl_image_tag booking.boat.photos.last.key %>
          </div>
          <div class="booking-card-content">
            <div class="text">
              <h2><small><%= booking.boat.name %></small></h2>
              <p><%= booking.arrival %></p>
              <p><%= booking.departure %></p>
              <div class="booking-status">
                <p><strong><%= booking.status %></strong> </p>
              </div>
            </div>
            <div class="booking-card-actions">
              <a href="<%= accept_path(booking) %>" class="accept-icon" data-turbo-method="patch"><i class="fa-solid fa-check"></i></a>
              <a href="<%= reject_path(booking) %>" class="reject-icon" data-turbo-method="patch"><i class="fa-regular fa-circle-xmark"></i></a>
            </div>
          </div>
          <% end %>
          </div>
    <% end %>

    <div class="booking-title-container sub-bookings">
      <h1>My Submitted Bookings (<%= @bookings.length %>)</h1>
    </div>
    <% @bookings.each do |booking| %>
    <div class="booking-card">
        <%= link_to booking do %>
          <div class="booking-image">
            <%= cl_image_tag booking.boat.photos.last.key %>
          </div>
          <div class="booking-card-content">
            <div class="text">
              <h2><small><%= booking.boat.name %></small></h2>
              <p><%= booking.boat.description %></p>
              <p><%= booking.status %></p>
            </div>
            <% end %>
          </div>
      </div>
    <% end %>
  </div>
</div>
