<div class="container">
  <div class="booking-container">
    <div class="booking-header">
      <h2><%= @boat.name %></h2>
      <div class="items-right">
        <p><%= @boat.guests %> Guests</p>
        <p><%= @reviews_average %> <%= icon('far', 'star')%></p>
      </div>
    </div>
    <p><%= @boat.description %></p>
    <%= simple_form_for(@booking) do |f| %>
      <%= f.input :arrival %>
      <%= f.input :departure %>
      <%= f.input :comment %>
      <div class="form-group" style="display: flex;">
        <%= f.button :submit, "Confirm", class: "button m-3" %>
      </div>
    <% end %>
  </div>
</div>
