<div style="width: 900px; margin: 0 auto;"> <!-- change to global container -->
  <div class="booking-container">
    <h2><%= @boat.name %></h2>
    <p><%= @boat.description %></p>
    <%= simple_form_for(@booking) do |f| %>
      <%= f.input :arrival %>
      <%= f.input :departure %>
      <%= f.input :comment %>
      <div class="form-group" style="display: flex;">
        <%= f.button :submit, "Confirm", class: "button m-3" %>
        <%= f.button :submit, "Quit", class: "button m-3 btn-login" %>
      </div>
    <% end %>
  </div>
</div>
