<div class="search-form-container">
  <div class="form-row">
    <%= form_with url: boats_path, method: :get, class: "d-flex gap-2" do %>
      <%= select_tag :query,
            options_for_select(Boat::CATEGORIES, params[:query]),
            { include_blank: "Category", class: "form-select input-box", required: true }
        %>
        <%= text_field_tag :location,
            params[:location],
            class: "form-control input-box",
            placeholder: "Location",
            required: true
        %>
        <%= number_field_tag :guests,
            params[:guests],
            class: "form-control input-box",
            placeholder: "Guests", 
            min: 1,
            required: true
        %>
      <%= submit_tag "Search", name: "", class: "button input-box" %>
    <% end %>
  </div>
</div>
