<div class="search-form-container">
  <div class="form-row">
    <%= simple_form_for(@boat) do |f| %>
      <div class="form-grid">
        <%= f.input :category, label: false, prompt: "Category", collection: Boat::CATEGORIES %>
        <%= f.input :location, label: false, placeholder: "Location" %>
        <%= f.input :guests, label: false, placeholder: "Guests" %>
        <%= f.submit :button, class: "mb-3 button", value: "Search" %>   <!-- change that it links to boats/index -->
      </div>
    <% end %>
  </div>
</div>

<div class="search-form-container">
  <div class="form-row">
    <%= form_with url: boats_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Category",
            collection: Boat::CATEGORIES
        %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Location"
        %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Guests"
        %>
      <%= submit_tag "Search", name: "", class: "button" %>
    <% end %>
  </div>
</div>
