<h1>Dashboard</h1>
<div class="dashboard-grid">
  <div class="dashboard-card">
    <%= link_to "Wishlist", wishlist_path %>
    <p>Edit your profile</p>
  </div>
  <div class="dashboard-card">
    <%= link_to "Bookings", bookings_path %>
    <p>Edit your profile</p>
  </div>
  <div class="dashboard-card">
    <%= link_to "Listings", listings_path %>
    <p>Edit your profile</p>
  </div>
  <div class="dashboard-card">
    <%= link_to "Profile", edit_user_registration_path(3) %> <!-- change to logged in user -->
    <p>Edit your profile</p>
  </div>
  <div class="dashboard-card">
    <%= link_to "Messages", messages_path %>
    <p>Edit your profile</p>
  </div>
  <div class="dashboard-card">
    <%= link_to "Payment Methods", payment_methods_path %>
    <p>Edit your profile</p>
  </div>
</div>
