<div class="homepage">
  <div class="home-container">
    <div class="search-box">
      <div class="form-container">
        <h1>Are you ready to sail the sea?</h1>
        <%= render "shared/search" %>
      </div>
    </div>
  </div>
  <div class="boats-down">
    <button class="boats-down-button" onClick="document.getElementById('boat-home-list').scrollIntoView();" >
    <h3>Discover</h3>
    <i class="fa-solid fa-angles-down"></i></button>
  </div>
  <div class="container-big" id="boat-home-list">
    <div class="grid-boats">
      <% @boats = Boat.all %>
      <% @boats.each do |boat| %>
        <%= link_to boat, class: "card-boat" do %>
          <div class="boat-image">
          <% boat.photos.each do |photo| %>
            <%= cl_image_tag photo.key %>
          <% end %>
        </div>
          <div class="boat-infos">
            <h4><%= boat.name %></h4>
            <p><%= boat.description %></p>
            <div class="boat-details">
              <p><%= boat.guests %> Guests</p>
              <span><%= "$#{boat.price}" %> / week</span>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
