<img style="width: 200px" src="https://www.flyingcharter.it/wp-content/uploads/2023/05/flying-charter-yacht.jpg">
<div>
<h6><%= boat.name %></h6>
  <div class="map-location">
    <p><i class="fa-solid fa-location-dot"></i></p><p><%= boat.location %></p>
  </div>
  <p><%= boat.price %></p>
  <p><%= 767%> <%= icon('far', 'star')%></p>
</div>
