<div class="container-big">
  <h1>Boats</h1>
  <div class="grid-boats">
    <% @boats.each do |boat| %>
      <%= link_to boat, class: "card-boat" do %>
        <div class="boat-image">
          <!-- add with carousel -->
          <% boat.photos.each do |photo| %>
            <%= cl_image_tag photo.key %>
          <% end %>
        </div>
        <div class="boat-infos">
          <h4><%= boat.name %></h4>
          <p><%= boat.description %></p>
          <div class="boat-details">
            <p><%= boat.guests %> Guests</p>
            <span><%= "$#{boat.price}" %> / week</span>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="show-map-btn">
   <a href="<%= map_path %>" class="button" style="border-radius: 100%; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);"><i class="fa-regular fa-map" style="font-size: 20px; padding: 10px; margin-bottom: 5px; margin-top: 5px;"></i></a>
</div>
