<div class="container-big">
  <h1>Boats</h1>
  <div class="grid-boats">
    <% @boats.each do |boat| %>
      <%= link_to boat, class: "card-boat" do %>
        <div class="boat-image">
          <% results = Cloudinary::Search.new.expression("folder:boats").max_results(15).execute %>
          <% images = results["resources"].map { |resource| resource["url"] } %>
          <% image = images.sample %>
          <%= cl_image_tag(image, :width => 300, :height => 300, :crop => :fill) %>
        </div>
        <div class="boat-infos">
          <h4><%= boat.name %></h4>
          <p><%= boat.description %></p>
          <div class="boat-details">
            <p><%= boat.guests %> Guests</p>
            <span><%= "$#{boat.price}" %> / week</span>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>