<div class="container-big">
  <h1>Boats</h1>
  <div class="grid-boats">
    <% @boats.each do |boat| %>
      <%= link_to boat, class: "card-boat" do %>
        <div class="boat-image">
          <!-- add with carousel -->
          <% boat.photos.each do |photo| %>
            <%= cl_image_tag photo.key %>
          <% end %>
        </div>
        <div class="boat-infos">
          <h4><%= boat.name %></h4>
          <p><%= boat.description %></p>
          <div class="boat-details">
            <p><%= boat.guests %> Guests</p>
            <span><%= "$#{boat.price}" %> / week</span>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<div class="show-map-btn">
  <button class="button">Show Map</button>
</div>
