<div class="container-big">
  <div class="container-boat-show">
    <div class="card-boat">
      <div class="boat-images">
        <%= image_tag "https://plus.unsplash.com/premium_photo-1661889213741-64b118b28c5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80", width: "100%" %>
      </div>
      <h2><%= @boat.name %></h2>
      <p><%= @boat.description %></p>
      <h3>Crew</h3>
      <div class="crew-members">
        <% @crew_members.each do |member| %>
          <div class="card-member">
            <p class="name"><%= member.name %></p>
            <p class="description"><%= member.description %></p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="card-booking">
      <p>Guests: <%= @boat.guests %></p>
      <span class="price">Price: <%= number_to_currency(@boat.price) %> per week</span>
      <%= link_to "BOOK", new_booking_path, class: "button m-3 p-2 btn-login" %>
    </div>
  </div>
</div>
